:import {
  -st-from: "../Foundation/stylable/spacing.st.css";
  -st-named: spacing12;
}

:import {
  -st-from: "../Foundation/stylable/colors.st.css";
  -st-named: D60;
}

.root {
}

.overlineDivider {
  width: 36px;
  border-bottom: solid value(D60) 1px;
  margin-bottom: value(spacing12);
}
